<div class="is-hidden" id="home"></div>
<header>
    <div class="header__inner">
            <a 
              class="link header__logo" 
              href="./index.html" 
              title="IceCream - made with passion"
              aria-label="link to IceCream webpage"> 
                <img src="./images/header/logo.svg" 
                  alt="IceCream company logo" 
                  width="199" 
                  height="50" />
            </a>
    </div>
</header>
<div class="spacer is-hidden"></div>