<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="reviews__slide" data-review="1">
            <img class="reviews__foto" src="./images/reviews/emily.jpg" alt="User's photo">
            <div class="reviews__style">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                    ipsum primis in nibh vel risus.
                </p>
            </div>
            <ul class="reviews__deco">
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
            </ul>
            <p class="reviews__place">Emily, Los Angeles</p>
        </div>
        <div class="visually-hidden" data-review="2">
            <img class="reviews__foto" src="./images/reviews/max.jpg" alt="User's photo">
            <div class="reviews__style">
                <p class="reviews__text">
                    Ice cream is quite soft, but it keeps its shape perfectly. 
                    When it is out of the freezer, it melts very slowly, so you
                    can eat it completely calmly, without fear that 
                    everything will start to melt and drain from the spoon.
                </p>
            </div>
            <ul class="reviews__deco">
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
            </ul>
            <p class="reviews__place">Max, New York</p>
        </div>
        <div class="visually-hidden" data-review="3">
            <img class="reviews__foto" src="./images/reviews/megan.jpg" alt="User's photo">
            <div class="reviews__style">
                <p class="reviews__text">
                    Delicate, creamy, with vanilla aroma. 
                    Condensed milk has been added to the ice cream for a richer taste.
                    I advise everyone to try it, the ice cream is very high quality, 
                    corresponds to its price, goes well with strong coffee.
                </p>
            </div>
            <ul class="reviews__deco">
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
                <li class="reviews__element list"></li>
            </ul>
            <p class="reviews__place">Megan, Boston</p>
        </div>
        <ul class="slick-dots list" role="tablist">
            <li role="presentation">
                <button class="current" type="button" data-button="1"></button>
            </li>
            <li role="presentation">
                <button class="slick-dots__slide" type="button" data-button="2"></button>
            </li>
            <li role="presentation">
                <button class="slick-dots__slide" type="button" data-button="3"></button>
            </li>
        </ul>
    </div>
</section>